[user]
	name = mid0111
	email = m.tajima0111@gmail.com

[credential]
	helper = cache --timeout=3600

[merge]
	tool = meld

[push]
	default = simple

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[core]
	editor = /Applications/Emacs.app/Contents/MacOS/bin/emacsclient
	autocrlf = input
	excludesfile = /Users/mid/.gitignore
[color]
	ui = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[alias]
	oneline = log --oneline --decorate --graph
